<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conforto Térmico</title>
    <script>
        function redirecionarParaSite() {
            setTimeout(function() {
                window.location.href = "https://labeee.ufsc.br/pt-br/";
            }, 500);
        }
    </script>
</head>
<body onload="alert('Respostas enviadas com sucesso!'); redirecionarParaSite();">
</body>
</html>
